{% extends 'base.html' %}
<!-- ONLY IF USER IS LOGGED IN -->
{% block body %}
    {% if object_list %}
        {% for chat in object_list %}
            {% if "Psychologists" in user.groups.all.0.name %}
                <a href="{% url 'chat:my_chat_with' user.pk chat.client.pk %}">
                    {{chat.client.first_name}} {{chat.client.last_name}}
                </a>
            {% elif "Clients" in user.groups.all.0.name %}
                <a href="{% url 'chat:my_chat_with' chat.psycho.pk user.pk %}">
                    {{chat.psycho.first_name}} {{chat.psycho.last_name}}
                </a>
            {% endif %} <br>
        {% endfor %}
    {% else %}
        <p>Per ora nessuna chat aperta. </p>
    {% endif %}
{% endblock %}
